.jobBox {
  margin-top: 1rem;
  max-width: 100%;
  transition: all 0.3s ease;
}

.jobBoxLight:hover {
  background-color: rgba(200, 200, 200, 0.2); 
  transform: scale(1.02);
}

.jobBoxDark:hover {
  background-color: rgb(40, 40, 40);
  transform: scale(1.02);
}

.techButton {
  transition: all 0.3s ease;
}

.techButton:hover {
  filter: brightness(125%);
}

.techLabel {
  margin: 0.25rem;
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 0.85rem;
  display: inline-block;
}

.techLabelLight {
  background-color: #f5f5f5; 
  color: #333;
  border: 1px solid #ddd; 
}

.techLabelDark {
  background-color: #333; 
  color: #cdcdff; 
  border: 1px solid #222; 
}

