/* frontend/components/Projects.module.css */
.projectBox {
    /* Add your specific styles for the project boxes here */
  }
  
  .projectImage {
    width: 200px;
    height: 48px;
    object-fit: cover;
  }

  .projectTitle {
    transition: all 0.3s ease;
  }
  
  .projectTitle:hover {
    color: #00FF00; /* Or any other color you like */
  }
  
  .techButton {
    /* Add your specific styles for the tech buttons here */
  }
  