.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    height: 60px;
    background-color: var(--navbar-background-color, #fff);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
  }

  
  .navLinks {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw; /* Use viewport width to ensure full coverage */
    height: 100vh; /* Use viewport height to ensure full coverage */
    flex-direction: column;
    justify-content: center; /* Centers content vertically in the container */
    align-items: center; /* Centers content horizontally in the container */
    z-index: 20;
    padding: 0; /* Remove any padding */
    margin: 0; /* Remove any margin */
}


  .navOpen .navLinks {
    display: flex; /* Show the links when nav is open */
  }
  
  
  .navLinks a {
    color: white;
    font-size: 2rem;
    padding: 1rem;
    text-align: center; 
    transition: color 0.3s ease;
    z-index: 30;
    margin: 0; 
}
  
  .themeToggleButton {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .themeToggleButtonDark {
    color: #fff;
  }
  
  .themeToggleButtonLight {
    color: #333;
  }

  .navbarDark {
    background-color: #23283e; 
    color: #cdcdff;        
  }
  
  .navbarLight {
    background-color: #fff; 
    color: #444;          
  }

  .navbar a {
    color: inherit; 
    text-decoration: none; 
    margin-right: 1rem;
    transition: color 0.3s; 
  }
  
  .dark-theme {
    --navbar-background-color: #23283e;
    --text-color: #cdcdff;
    --highlight-color: #90a0d9;
    --button-background-color: #333;
  }
  
  .light-theme {
    --navbar-background-color: #fff;
    --text-color: #444;
    --highlight-color: #2978b5;
    --button-background-color: #eee;
  }
  
  .navbarToggle {
    display: none;
    background: none;
    border: none;
    font-size: 28px;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    left: 1rem; 
    z-index: 30; 
  }

  .nameInNavbar {
    font-weight: bold;
    color: var(--highlight-color);
  }

  .navOpen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:  #23283e; /* Dark overlay */
    z-index: 20; /* Ensure it's above other content */
  }

.navOpenDark {
  background-color: #23283e; 
}

.navOpenLight {
  background-color: #fff; 
}

@media (max-width: 636px) {
  .navbar {
    justify-content: flex-start; /* Aligns the theme toggle button to the left */
  }

  .navbarToggle {
    display: block;
  }

  .themeToggleButton {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 30; /* Above the overlay */
  }
}

@media (min-width: 637px) {
  .navLinks {
    display: flex; /* Show the links in a row */
    align-items: center; /* Center the links vertically */
    position: static; /* Static positioning to flow in the document */
    width: auto; /* Auto width to only take up required space */
    height: auto; /* Auto height to only take up required space */
    flex-direction: row; /* Align links in a row */
    justify-content: flex-start; /* Align links to the start */
    z-index: 1; /* Normal z-index to flow in the document */
    background-color: transparent; /* Clear background */
  }

  .navLinks a {
    color: var(--text-color); /* Text color for normal navbar */
    font-size: 1rem; /* Normal font size */
    padding: 0; /* No additional padding */
    margin-right: 20px; /* Space between links */
    text-align: left; /* Align text to the left */
  }
}

/* When navOpen is active, show the links */
.navOpen .navLinks {
    display: flex; /* Show the links */
    position: fixed; /* Fixed positioning to cover the screen */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navOverlayDark {
  background-color: #23283e; /* Dark theme overlay color */
}

.navOverlayLight {
  background-color: #fff; /* Light theme overlay color */
}


/* target Cameron Sivo link and make it bold */
.navLinks a:nth-child(1) {
  font-weight: bold;
}