@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~font-awesome/css/font-awesome.min.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #fcfcfc;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

html {
  scroll-behavior: smooth;
}

/* Hide scrollbar for IE, Edge, Firefox, Chrome, Safari, and Opera */
body::-webkit-scrollbar, 
html::-webkit-scrollbar {
  display: none;
}

body, html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Specific styles for iPhones */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 2),
  only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 896px)
  and (-webkit-min-device-pixel-ratio: 2),
  only screen 
  and (min-device-width: 360px) 
  and (max-device-width: 780px)
  and (-webkit-min-device-pixel-ratio: 3) {
    body {
      overflow-x: hidden; /* Prevent horizontal scrolling on iPhones */
    }
}
